<!DOCTYPE html>
<html>
    <head>
        <title>Paraverse - <%= title %></title>
        <%- include('../partials/_head.ejs') %>
    </head>

    <body>
        <!-- TOP NAVIGATION BAR -->
        <%- include('../partials/_navbar.ejs') %>
        <br><br><br><br><br>
        <!-- HEADER -->
        <div class="welcome">
            <h2 class="page-header">Account</h2>
            <section>Access all your account and profile details here.</section><br>
            <hr class="welcome"><br>
        </div>
        <!-- FOOTER  -->
        <%- include('../partials/_footer.ejs') %>
        
    </body>
    </html>