<footer>
    <ul>
        <div class="footer-links">
            <li><a href="/home">GAMES</a></li>
            <li><a href="/apps">APPS</a></li>
            <li><a href="/team">TEAM</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/account">ACCOUNT</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/privacy">POLICY</a></li>                    
        </div>
    </ul>
    <br><br>
  <p>© Paraverse Studio 2021 | All rights reserved</p>
</footer>