<footer>
  <div class="footer-links">
    <div>
      <li><a href="/home">GAMES</a></li>
      <li><a href="/apps">APPS</a></li>
      <li><a href="/team">TEAM</a></li>
    </div>
    <div>
      <li><a href="/blogs">BLOG</a></li>
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="/privacy">POLICY</a></li> 
    </div>
    
    
  </div>
  <p>© Paraverse Studio 2021 | All rights reserved</p>
</footer>