
  <label for="title">Title</label>
  <input required value="<%= blog.title %>" type="text" name="title" id="title">

  <label for="description">Description</label>
  <textarea required type="text" name="description" id="description" style="resize: none;">
    <%= blog.description %></textarea>

  <label for="article">Article</label>
  <textarea required type="text" name="article" id="article" style="resize: none;">
    <%= blog.article %></textarea>
    
  <button type="submit" class="btn save-btn purple-bg-color">Save</button>
  <a href="/blogs" class="a-btn cancel-btn">Cancel</a>
