<nav>
  <ul class="nav-links">
    <li><a href="/index" class="nav-link">GAMES</a></li>
    <li><a href="/apps" class="nav-link">APPS</a></li>
    <li><a href="/team" class="nav-link">TEAM</a></li>
    <li><a href="/blog" class="nav-link">BLOG</a></li>
    <li><a href="/play" class="nav-link">PLAY</a></li>
  </ul>
  <div class="account-links">
    <a href="/account/login" class="account-link">Login</a>
    <a href="/account/register" class="account-link">Register</a>
  </div>
</nav>