<nav>
  <ul class="nav-links">
    <li><a href="/home" class="nav-link">GAMES</a></li>
    <li><a href="/apps" class="nav-link">APPS</a></li>
    <li><a href="/team" class="nav-link">TEAM</a></li>
    <li><a href="/blogs" class="nav-link">BLOG</a></li>
    <li><a href="/play" class="nav-link">PLAY</a></li>
  </ul>
  <% if (user == null || user == undefined) { %>
    <!-- This div displays when user is NOT logged in -->
    <div class="logged-out-links">
      <a href="/account/login" class="account-link">Login</a>
      <a href="/account/register" class="account-link">Register</a>
    </div>
    <% } else { %>
      <!-- This div displays when user HAS logged in -->
    <div class="logged-in-links">
      <a href="/account" class="account-link">Account</a>
      <a href="/account/logout" class="hyperlink">Logout</a>
    </div>
    <% } %>
</nav>