<nav>
    <ul>
        <div class="nav-background">
            <li><a href="/index">GAMES</a></li>
            <li><a href="/apps">APPS</a></li>
            <li><a href="/team">TEAM</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/account">ACCOUNT</a></li>
            <li><strong><a class="play" href="/play">PLAY</a></strong></li>
        </div>
    </ul>
</nav>