

<% if (typeof errors != 'undefined') { %>
  <div class="message-container">
    <% errors.forEach(error => { %>
      <div class="error-bg">
        <li class="message-text"><%= error %></li>
        <button class="error-button">✖</button>
      </div>
    <% }); %>
  </div>
<% } %>

<% if(success_msg != '') { %> 
  <div class="success-bg">
    <li class="message-text"><%= success_msg %></li>
  </div>
  <% } %>

<% if(error_msg != '') { %> 
  <div class="error-bg">
    <li class="message-text"><%= error_msg %></li>
    <button class="error-button">✖</button>
  </div>
  <% } %>

<% if(error != '') { %> 
  <div class="error-bg">
    <li class="message-text"><%= error %></li>
    <button class="error-button">✖</button>
  </div>
  <% } %>