<!DOCTYPE html>
<html>
<head>
<title>Paraverse - Apps</title>
<%- include('./partials/_head.ejs') %>
</head>
<body>
  <!-- TOP NAVIGATION BAR -->
  <%- include('./partials/_navbar.ejs') %>
  <br><br><br><br>
  <!-- HEADER -->
  <div class="welcome">
    <h2>Paraverse Apps</h2><br>
    <section>We want to develop apps that solve problems</section><br>
    <hr class="welcome">
    <div class="transition-heading" id="transition-head"><strong>Our apps</strong></div>
  </div>
  <!-- MAIN CONTENT -->
  <div class="container">
    <main class="app-page">
      <!-- easybillr -->
      <section class="app-container" id="easybillr">
        <div class="app-content">
          <div class="app-display">
            <iframe width="444" height="250" src="https://www.youtube.com/embed/JPQQxC0Cs2o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="app-description">
            <h2>EasyBillr</h2><br>
            <strong>EasyBillr</strong> is an Application available for free on the Google PlayStore. EasyBillr is designed to ease down your billing burden and help you manage the activity history of all of your bills
            <hr>
            <div class="app-link">
              Available on the Google PlayStore
            </div>
          </div>
        </div>
      </section>
        <!-- easyviewr -->
      <section class="app-container" id="easyviewr">
        <div class="app-content">
          <div class="app-display">
            <iframe width="444" height="250" src="https://www.youtube.com/embed/S2mFpJxAI38" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="app-description">
            <h2>EasyViewr</h2><br>
            <strong>EasyViewr</strong> is an online platform designed to ease the scheduling burden. It allows managers to create an auto-populating Master Schedule, view, edit or even remove employees, as well as add/remove announcements for all employees to see. On the other side, the employees gain the benefit of ensuring they know when their shifts are and no-shows, late arrivals, and confusion of shifts are all drastically reduced with the use of EasyViewr
            <hr>
            <div class="app-link">
              <!-- <a href="http://easyviewr.com/">Website</a> -->
            </div>
          </div>
        </div>
      </section>
      <!-- basketball app -->
      <section class="app-container" id="basketballScoreApp">
        <div class="app-content">
          <div class="app-display">
            <img width="444" height="250" src="../images/basketball-score-app-icon.PNG" alt="basketball score app">
          </div>
          <div class="app-description">
            <h2>Basketball Score App</h2><br>
            <strong>Basketball Score App</strong> is a score app where users can view and compare NBA player stats. Users may also search for scheduled NBA games and view match up.
            <hr>
            <div class="app-link">
              <a href="https://prabdhaliwal.herokuapp.com/basketballapp">Website</a>
            </div>
          </div>
        </div>
      </section>
      <!-- todolist app -->
      <section class="app-container" id="todoListApp">
        <div class="app-content">
          <div class="app-display">
            <img width="444" height="250" src="../images/todo-list-icon.PNG" alt="todo list app">
          </div>
          <div class="app-description">
            <h2>Todo List App</h2><br>
            <strong>Todo List App</strong> is an app where users can create several todo lists and add tasks to each of their todo lists.
            <hr>
            <div class="app-link">
              <a href="https://prabdhaliwal.herokuapp.com/todolist">Website</a>
            </div>
          </div>
        </div>
      </section>
      <!-- weather app -->
      <section class="app-container" id="weatherApp">
        <div class="app-content">
          <div class="app-display">
            <img width="444" height="250" src="../images/weather-app-icon.png" alt="weather app">
          </div>
          <div class="app-description">
            <h2>Weather App</h2><br>
            <strong>Weather App</strong> is an app created using REST API from openweathermap.org. You can search for a city and the app will return the weather information of that city.
            <hr>
            <div class="app-link">
              <a href="https://prabdhaliwal.herokuapp.com/weatherapp">Website</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <br><br><br><br><br>
  </div>
  <!-- FOOTER -->
  <%- include('./partials/_footer.ejs') %>
</body>
</html>