<!DOCTYPE html>
<html>
<head>
  <title>Paraverse - Contact</title>
  <%- include('./partials/_head.ejs') %>
</head>

<body>
  <!-- TOP NAVIGATION BAR -->
  <%- include('./partials/_navbar.ejs') %>
  <br><br><br><br>
  <!-- HEADER -->
  <div class="welcome">
    <h2>Contact Us</h2>
    <section>Message us about any questions or comments you may have.</section><br>
    <hr class="welcome"><br>
  </div>
  <main class="contact-page">
    <section class="contact-container">
      <h3>Abhishek Mohan</h3>
      <address>
        <p>Phone Number: </p>  
        <p>Email: <a href="mailto: prab.dhaliwal95@gmail.com">Enter Email Here and in the a href=""</a></p>
        <p>Brampton, Ontario Canada</p>
        <div class="icon-containers">
          <a class="icon-link" href="https://www.linkedin.com/in/abhishek-mohan-00196991/">
            <div class="LinkedIn-icon"></div>
          </a>
        </div>  
      </address>
    </section>
    <section class="contact-container">
      <h3>Abhinav Mohan</h3>
      <address>
        <p>Phone Number: </p>  
        <p>Email: <a href="mailto: prab.dhaliwal95@gmail.com">Enter Email Here and in the a href=""</a></p>
        <p>Brampton, Ontario Canada</p>
        <div class="icon-containers">
          <a class="icon-link" href="https://www.linkedin.com/in/abhinav-mohan-53731b193/">
            <div class="LinkedIn-icon"></div>
          </a>
          <a class="icon-link" href="https://github.com/AbhinavMohan96">
            <div class="GitHub-icon"></div>
          </a>
        </div>  
      </address>
    </section>
    <section class="contact-container">
      <h3>Prabdeep Dhaliwal</h3>
      <address>
        <p>Phone Number: (647) 642-3917</p> 
        <p>Email: <a href="mailto: prab.dhaliwal95@gmail.com">prab.dhaliwal95@gmail.com</a></p>
        <p>Guelph, Ontario Canada</p>
        <div class="icon-containers">
          <a class="icon-link" href="https://www.linkedin.com/in/prabdeep-dhaliwal/">
            <div class="LinkedIn-icon"></div>
          </a>
          <a class="icon-link" href="https://github.com/prabdhal">
            <div class="GitHub-icon"></div>
          </a>
        </div>   
      </address>
    </section>
  </main>

  <!-- FOOTER -->
  <%- include('./partials/_footer.ejs') %>
</body>
</html>