<!DOCTYPE html>
<html>
<head>
  <title>Paraverse - Contact</title>
  <%- include('./partials/_head.ejs') %>
</head>

<body>
  <!-- TOP NAVIGATION BAR -->
  <%- include('./partials/_navbar.ejs') %>
  <br><br><br><br>
  <!-- HEADER -->
  <div class="welcome">
    <h2>Contact Us</h2>
    <section>Message us about any questions or comments you may have.</section><br>
    <hr class="welcome"><br>
  </div>
  <!-- FOOTER -->
  <%- include('./partials/_footer.ejs') %>
</body>
</html>