<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paraverse Studio</title>
  <%- include('./partials/_head.ejs') %>
</head>

<body>
  <!-- TOP NAVIGATION BAR -->
  <%- include('./partials/_navbar.ejs') %>
  <br><br><br><br><br>
  <!-- HEADER -->
  <div class="welcome">
    <h2>Paraverse Studio is an indie developer studio</h2>
    <section>We want to develop games that challenge and intice you</section><br>
    <hr class="welcome">
    <div class="transition-heading" id="transition-head"><strong>Our games</strong></div>
  </div>
  <!-- MAIN CONTENT -->
  <div class="container">
    <!-- colossal saga -->
    <div class="content" id="colossalSaga">
    <section class="video">
      <iframe width="444" height="250" src="https://www.youtube.com/embed/hUDbOJm2CB4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    <section class="text">
      <h2>Colossal Saga</h2><br>
      <strong>Colossal Saga</strong> is a local multiplayer (1 to 4 players) action-fighting game with unique, dynamic characters available to play on several well-known classic game modes.
      The skill-based mechanics-driven combat is easy to pick up for a group of friends trying the game for the first time, and difficult to master, greatly rewarding players with experience and practice.
      <hr>
      <div class="links">
        <a class="steam" href="https://store.steampowered.com/app/1181820/Colossal_Saga/">Steam</a>
      </div>
    </section>
  </div>
  <!-- ozone guardian -->
    <div class="content" id="ozoneGuardian">
      <section class="video">
        <iframe width="444" height="250" src="https://www.youtube.com/embed/aaUejtNiAno" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </section>
      <section class="text">
        <h2>Ozone Guardian</h2><br>
        A new twist on the classic arcade shooter, with a variety of character choices and an upgrade system. Control your spaceship with your mouse & shoot with click - the only limitation is your hand speed! Face waves of creative enemy ships and stimulating bosses, and protect the ozone, <strong>Ozone Guardian</strong>.
        <hr>
        <div class="links">
          <a class="steam" href="https://store.steampowered.com/app/1432400/Ozone_Guardian/">Steam</a>
        </div>
      </section>
    </div>
    <!-- TRANSITION -->
    <div class="transition-heading">
      <strong>Try our web games below</strong>
      <!-- ozone guardian -->
    <div class="content" id="towerDefence">
      <section class="video">
        <img width="444" height="250" src="../images/tower-defense-3d-icon.png" alt="tower defense 3d game">
      </section>
      <section class="text">
        <h2>Ozone Guardian</h2><br>
        A new twist on the classic arcade shooter, with a variety of character choices and an upgrade system. Control your spaceship with your mouse & shoot with click - the only limitation is your hand speed! Face waves of creative enemy ships and stimulating bosses, and protect the ozone, <strong>Ozone Guardian</strong>.
        <hr>
        <div class="links">
          <a class="steam" href="https://store.steampowered.com/app/1432400/Ozone_Guardian/">Steam</a>
        </div>
      </section>
    </div>
    </div>
  </div>
  <!-- FOOTER -->
  <%- include('./partials/_footer.ejs') %>

</body>

</html>