<!DOCTYPE html>
<html>
    <head>
        <title>Paraverse - Play</title>
        <%- include('./partials/_head.ejs') %>
    </head>

    <body>
        <!-- TOP NAVIGATION BAR -->
        <%- include('./partials/_navbar.ejs') %>
    </body>
</html>