<!DOCTYPE html>
<html>
    <head>
        <title>Play</title>
        <%- include('./partials/_head.ejs') %>
    </head>

    <body>
        <!-- TOP NAVIGATION BAR -->
        <%- include('./partials/_navigation-bar.ejs') %>
    </body>
    play
</html>