<!DOCTYPE html>
<html>
    <head>
        <title>Privacy</title>
        <%- include('./partials/_head.ejs') %>
    </head>

    <body>
        <!-- TOP NAVIGATION BAR -->
        <%- include('./partials/_navigation-bar.ejs') %>
        <br><br><br><br><br>
        <!-- HEADER -->
        <div class="welcome">
            <h2>Privacy Policy</h2>
            <section>View the 2021 Paraverse Studio Privacy Policy below.</section><br>
            <hr class="welcome"><br>
        </div>
        <!-- FOOTER -->
        <%- include('./partials/_footer.ejs') %>

    </body>
    </html>