<!DOCTYPE html>
<html>
  <head>
      <title>Paraverse - Team</title>
      <%- include('./partials/_head.ejs') %>
  </head>
  <body>
    <!-- TOP NAVIGATION BAR -->
    <%- include('./partials/_navbar.ejs') %>
    <br><br><br><br>
    <!-- HEADER -->
    <div class="welcome">
      <h2>Paraverse Team</h2><br>
      <section>We have a passion for game, web and app development and design</section><br>
      <hr class="welcome">
      <div class="transition-heading" id="transition-head"><strong>Our team</strong></div>
    </div>
    <!-- MAIN CONTENT -->
    <div class="team-page">
      <!-- abhishek -->
      <section class="team-container" id="abhishek">
        <div class="team-content">
          <div class="team-display">
            <img src="images/ParaLogo.png" width=600 height=225>
          </div>
          <div class="team-description"><h2>Abhishek Mohan</h2><br><br>
            Abhishek creates all the characters, playable and AI alike, and their abilities. He governs the overall combat and play mechanics in the games, including balancing. As an artist first programmer second, he also makes all illustrations, UI elements, skill vfx and any icons/art of our games & apps. 
            <hr>
            <div class="team-links">
              <a class="linkedin" href="https://www.linkedin.com/in/abhishek-mohan-00196991/">LinkedIn</a>
            </div>
          </div>
        </div>
      </section>
      <!-- abhinav -->
      <section class="team-container" id="abhinav">
        <div class="team-content">
          <div class="team-display">
            <img src="images/ParaLogo.png" width=600 height=225>
          </div>
          <div class="team-description">
            <h2>Abhinav Mohan</h2><br><br>
            Abhinav manages the architecture and the different modes, maps, events, save/load systems of the games and apps. He governs the overall structure, and how players and users navigate through the games & apps. He co-developed the paraverse website and manages its updates.
            <hr>
            <div class="team-links">
              <a class="linkedin" href="https://www.linkedin.com/in/abhinav-mohan-53731b193/">LinkedIn</a>
              <a class="github" href="https://github.com/AbhinavMohan96">GitHub</a>
            </div>
          </div>
        </div>
      </section>
      <!-- prab -->
      <section class="team-container" id="prab">
        <div class="team-content">
          <div class="team-display">
            <img src="images/ParaLogo.png" width=600 height=225>
          </div>
          <div class="team-description">
            <h2>Prabdeep Dhaliwal</h2><br><br>    
            Prab is a passionate programmer, experienced as a Unity game developer and as a full-stack web developer. He creates and implements all sorts of systems in games and creates websites front to back, as well as web applications.  
            <hr>
            <div class="team-links">
              <a class="linkedin" href="https://www.linkedin.com/in/prabdeep-dhaliwal/">LinkedIn</a>
              <a class="github" href="https://github.com/prabdhal">GitHub</a>
              <a class="website" href="http://prabdhaliwal.com/home">Website</a>
            </div> 
          </div>
        </div>
      </section>
      <br><br><br><br>
    </div>
    <!-- FOOTER -->
    <%- include('./partials/_footer.ejs') %>
  </body>
  </html>