<!DOCTYPE html>
<html>
  <head>
      <title>Paraverse - Team</title>
      <%- include('./partials/_head.ejs') %>
  </head>
  <body>
    <!-- TOP NAVIGATION BAR -->
    <%- include('./partials/_navbar.ejs') %>
    <br><br><br><br>
    <!-- HEADER -->
    <div class="welcome">
      <h2>The Paraverse team</h2>
      <section>We have a passion for game, web and app design</section><br>
      <hr class="welcome"><br>
    </div>
    <!-- MAIN CONTENT -->
    <div class="container">
      <!-- abhishek -->
      <div class="content" id="abhishek">
        <section class="image">
          <img src="images/ParaLogo.png" width=600 height=225>
        </section>
        <section class="text"><h2>Abhishek Mohan</h2><br><br>
          Abhishek creates all the characters, playable and AI alike, and their abilities. He governs the overall combat and play mechanics in the games, including balancing. As an artist first programmer second, he also makes all illustrations, UI elements, skill vfx and any icons/art of our games & apps. 
          <hr>
          <div class="links">
              <a class="linkedin" href="https://www.linkedin.com/in/abhishek-mohan-00196991/">LinkedIn</a>
          </div>
        </section>
      </div>
      <!-- abhinav -->
      <div class="content" id="abhinav">
        <section class="image">
          <img src="images/ParaLogo.png" width=600 height=225>
        </section>
        <section class="text">
          <h2>Abhinav Mohan</h2><br><br>
          Abhinav manages the architecture and the different modes, maps, events, save/load systems of the games and apps. He governs the overall structure, and how players and users navigate through the games & apps. He co-developed the paraverse website and manages its updates.
          <hr>
          <div class="links">
            <a class="linkedin" href="https://www.linkedin.com/in/abhinav-mohan-53731b193/">LinkedIn</a>
          </div>
        </section>
      </div>
      <!-- prab -->
      <div class="content" id="prab">
        <section class="image">
          <img src="images/ParaLogo.png" width=600 height=225>
        </section>
        <section class="text">
          <h2>Prab Dhaliwal</h2><br><br>                    
          
          <hr>
          <div class="links">
            <a class="website" href="http://prabdhaliwal.com/home">Website</a>
            <a class="linkedin" href="https://www.linkedin.com/in/prabdeep-dhaliwal/">LinkedIn</a>
            <a class="github" href="https://github.com/prabdhal">Github</a>
          </div> 
        </section>
      </div>
      <br><br><br><br>
    </div>
    <!-- FOOTER -->
    <%- include('./partials/_footer.ejs') %>
  </body>
  </html>