.account-section {
  margin: auto;
  text-align: center;
  padding: 50px 0;
}

form.account-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 50px;
  border: 2px solid var(--primaryColor);

  label {
    margin: 20px 0 10px 0;
    font-size: var(--mediumFont);
  }

  input {
    border: 0;
    outline: 0;
    padding: 10px;
    border-bottom: 1px solid var(--primaryColor);
    background-color: #eee;
    cursor: pointer;
  }

  input[type='text'],
  input[type='password'],
  input[type='placeholder'] {
    font-size: 1rem;
  }

  input:hover,
  input:focus {
    border-bottom: 2px solid var(--primaryColor);
    opacity: 0.8;
  }

  input:invalid {
    border-bottom: 2px solid red;
  }

  .account-button {
    margin-top: 40px;
    padding: var(--smallBtnPadding);
    background-color: var(--purpleColor);
    color: white;
    cursor: pointer;
  }
}

.user-profile {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 35px auto;

  label {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;
  }
}

.user-account-data-container {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.user-account-detail {
  width: 100%;
  min-width: 350px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 0;
}

.first-name-data-display,
.last-name-data-display,
.username-data-display,
.email-data-display {
  width: 250px;
  text-align: left;
}

.first-name-data-input,
.last-name-data-input,
.username-data-input,
.email-data-input {
  width: 250px;
  text-align: left;
  padding: 3px;
}

.change-btn-container {
  display: flex;
  flex-direction: row;
}
