.app-page {
  width: 100%;
}

.app-container {
  width: 100%;
  margin: auto;
  padding: 30px;
}

.app-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.app-display {
  width: 100%;
  max-width: 500px;
}

.app-display iframe,
.app-display img {
  border-radius: 10px;
}

.app-description {
  max-width: 800px;
  width: 100%;
  padding: 10px;
  line-height: 1.4rem;
  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.app-link {
  margin-top: 20px;
  a {
    cursor: pointer;
    color: blue;
  }
}
