.app-page {
  width: 100%;
}

.app-container {
  width: 100%;
  margin: auto;
  padding: 30px;
}

.app-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.app-display {
  max-width: 500px;
  width: 100%;
}

.app-display iframe,
.app-display img {
  border-radius: 10px;
}

.app-description {
  max-width: 800px;
  width: 100%;
  padding: 10px;
}

.app-link {
  cursor: pointer;
  color: blue;
}
