footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 0;
  margin: auto;
  font-size: 0.75rem;
  text-align: center;
}
.footer-links div {
  display: flex;
  flex-direction: row;
}

.footer-links {
  display: flex;
  flex-direction: row;
  margin: 0 auto 40px auto;
  list-style: none;
}

.footer-links li {
  color: #555;
  margin: 0 10px;
}
