.message-container {
  display: flex;
  flex-direction: column;
}

.error-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px;
  border-radius: var(--borderRadius);
  margin: 5px 0;
  background-color: lightcoral;
  text-align: center;
  list-style: none;
}

.message-text {
  width: 350px;
  text-align: center;
}

.error-button {
  border: 0;
  outline: 0;
  width: 15px;
  height: 15px;
  font-size: 0.7rem;
  font-weight: 500;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.success-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px;
  border-radius: var(--borderRadius);
  margin: 5px 0;
  background-color: lightgreen;
  text-align: center;
  list-style: none;
}

.a-btn {
  padding: 10px;
  border-radius: var(--borderRadius);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn {
  outline: 0;
  border: 0;
  padding: 10px;
  border-radius: var(--borderRadius);
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
