nav {
  display: flex;
  height: var(--navHeight);
  padding: 5px;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-around;
  height: var(--navHeight);
  margin: auto;
  list-style: none;
}

.nav-links li {
  display: flex;
  margin: auto 0;
}

.nav-link {
  padding: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  opacity: 0.5;
}

.logged-out-links {
  width: 170px;
  display: flex;
  height: var(--navHeight);
  margin: auto 0;
}

.logged-in-links {
  width: 100px;
  display: flex;
  flex-direction: column;
  height: var(--navHeight);
  margin: auto 0;
}

.account-link {
  width: 80px;
  margin: auto;
  color: white;
  background-color: #8a2be2;
  border-radius: var(--borderRadius);
  padding: var(--smallBtnPadding);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.hyperlink {
  width: 70px;
  margin: auto;
  color: black;
  padding: var(--smallBtnPadding);
  text-align: center;
  cursor: pointer;
}
