/* 
  2) HEADER ------------------------
*/
div.transition-heading {
  text-align: center;
  font-size: 24px;
  color: #444;
  padding: 50px;
}
#transition-head {
  padding: 30px;
}
/* 
  3) BODY ------------------------
*/
body h1 {
  padding: 6px 12px;
  font-size: 22px;
  text-align: center;
}
hr {
  display: block;
  border-top: 1px solid rgb(194, 194, 194);
}
hr.welcome {
  width: 50%;
  display: block;
  margin: auto;
  border-top: 1px solid rgb(194, 194, 194);
}
/* 
  4) <a> TAGS ------------------------
*/
a {
  color: #555;
}
a.play {
  color: rgb(42, 177, 24);
  text-decoration: none;
}
a.linkedin {
  color: rgb(14, 68, 170);
}

a.steam {
  color: rgb(14, 68, 170);
}
a.website {
  color: rgba(230, 120, 17, 0.863);
}
a.github {
  color: rgb(173, 51, 255);
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: rgb(175, 175, 175);
}
a:hover.play {
  color: rgb(56, 206, 56);
  text-decoration: none;
}
a:hover.linkedin {
  color: rgb(115, 160, 243);
}
a:hover.steam {
  color: rgb(97, 120, 161);
}
a:hover.website {
  color: rgba(240, 156, 78, 0.863);
}
a:hover.github {
  color: rgb(179, 131, 255);
}
a:active {
  text-decoration: none;
}
/* 
  5) <div> TAGS ------------------------
*/
div.welcome {
  color: #444;
  text-align: center;
  padding: 5px;
  box-shadow: 0px 0px 1px 0px rgb(149, 149, 149);
  background-color: white;
}
div.welcome h2 {
  font-size: var(--largeFont);
  padding-top: 30px;
  padding-bottom: 10px;
}
div.container {
  background: white;
  box-shadow: 0px 0px 1px 0px rgb(149, 149, 149);
}
div.content {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
div.content-policy {
  padding: 5px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  font-size: 14px;
}
/* 
  7) #id ------------------------
*/
#ozoneGuardian {
  background-color: rgb(186, 193, 235);
}
#colossalSaga {
  background-color: rgb(234, 235, 186);
}
#towerDefence {
  background-color: rgb(235, 210, 186);
}
#easybillr {
  background-color: rgb(178, 205, 240);
}
#easyviewr {
  background-color: rgb(186, 232, 235);
}
#basketballScoreApp {
  background-color: rgb(235, 210, 186);
}
#todoListApp {
  background-color: rgb(178, 205, 240);
}
#weatherApp {
  background-color: rgb(234, 235, 186);
}
#abhinav {
  background-color: rgb(235, 210, 186);
}
#abhishek {
  background-color: rgb(186, 232, 235);
}
#prab {
  background-color: rgb(222, 233, 217);
}
