* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

:root {
  --primaryColor: black;
  --secondaryColor: white;
  --complementaryColor: grey;
  --navHeight: 80px;
  --borderRadius: 8px;
  --smallBtnPadding: 10px;
  --smallFont: 0.8rem;
  --regularFont: 1rem;
  --mediumFont: 1.2rem;
  --largeFont: 1.5rem;
  --hugeFont: 2rem;
}

.page-header {
  font-size: var(--largeFont);
}

@import 'Navbar';
@import 'Account';
@import 'Blog';

.errors {
  list-style: none;
  padding: 10px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    background-color: lightcoral;
    padding: 5px;
    border-radius: var(--borderRadius);
    li {
      width: 350px;
      text-align: left;
    }

    button {
      outline: 0;
      border: 0;
      width: 20px;
      height: 20px;
      margin: 0;
      padding: 0;
      color: white;
      background-color: red;
      border-radius: 50%;
      align-content: right;
    }
  }

  .hide {
    display: none;
  }
}
