* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: #e2e2e2;
  color: #444;
  margin: 0px 10px;
}

button {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --primaryColor: black;
  --secondaryColor: white;
  --complementaryColor: rgb(175, 175, 175);
  --purpleColor: #8a2be2;
  --navHeight: 80px;
  --borderRadius: 8px;
  --smallBtnPadding: 10px;
  --smallFont: 0.8rem;
  --regularFont: 1rem;
  --mediumFont: 1.2rem;
  --largeFont: 1.5rem;
  --hugeFont: 2rem;
}

.purple-bg-color {
  background-color: var(--purpleColor);
}

.green-bg-color {
  background-color: green;
}

.red-bg-color {
  background-color: red;
}

.page-title {
  font-size: var(--largeFont);
}

/* nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--navHeight);
  padding: 5px;
} */

 /* 
    1) NAVIGATION BAR ------------------------
 */

 nav ul div.nav-background{
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 1px 0px black;
  width: 35%;
  position: absolute;
  z-index: -1;
}
nav ul{
  white-space: nowrap;
  margin: auto;
  text-align: center;
  width: 35%;
}
nav li{
  width: 16%;
  display: inline-block;
  font-size: 12px;
  color: #555;
  margin-top: 2%;
  
}
/* 
  2) HEADER ------------------------
*/
div.transition-heading{
  text-align:center;
  font-size: 24px;
  color: #444;
  padding: 50px;
}
#transition-head{
  padding: 30px;
}
 /* 
    3) BODY ------------------------
 */
 body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: #e2e2e2;
  color: #444;
  margin-top: 20px;
  margin-bottom: 20px;
}
body h1{
  padding: 6px 12px;
  font-size: 22px;
  text-align: center;
}
hr{
  display:block;
  border-top: 1px solid rgb(194, 194, 194); 
}
hr.welcome{
  width: 50%;
  display:block;
  margin: 0 auto;
  border-top: 1px solid rgb(194, 194, 194);
}
/* ---------------------------------- */

.nav-links {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: var(--navHeight);
  margin: auto;
  list-style: none;
}

.nav-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}

.nav-link {
  padding: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  opacity: 0.5;
}

/* .logged-out-links {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--navHeight);
  margin: auto 0;
}

.logged-in-links {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: var(--navHeight);
  margin: auto 0;
} */

.account-link {
  width: 80px;
  margin: auto;
  color: white;
  background-color: #8a2be2;
  border-radius: var(--borderRadius);
  padding: var(--smallBtnPadding);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.hyperlink {
  width: 70px;
  margin: auto;
  color: black;
  padding: var(--smallBtnPadding);
  text-align: center;
  cursor: pointer;
}

.account-section {
  margin: auto;
  text-align: center;
}

form.account-form {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding: 10px;
  /* border: 2px solid var(--primaryColor); */
}

form.account-form label {
  margin: 20px 0 10px 0;
  font-size: var(--mediumFont);
}

form.account-form input {
  border: 0;
  outline: 0;
  padding: 10px;
  /* border-bottom: 1px solid var(--primaryColor); */
  background-color: #eee;
  cursor:default;
}

form.account-form input[type='text'],
form.account-form input[type='password'],
form.account-form input[type='email'],
form.account-form input[type='placeholder'] {
  font-size: 1rem;
}

form.account-form input:hover,
form.account-form input:focus {
  /* border-bottom: 2px solid var(--primaryColor); */
  opacity: 0.8;
}

form.account-form input:invalid {
  border-bottom: 2px solid red;
}

form.account-form .account-button {
  padding: var(--smallBtnPadding);
  background-color: var(--purpleColor);
  width: 50%;
  color: white;
  margin: 40px auto;
  /* cursor: pointer; */
}

.blogs-section {
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.blog-container {
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
  margin: 20px auto;
  text-align: left;
}

.blog-title-link {
  font-size: var(--largeFont);
  color: #49b3f5;
  text-decoration: none;
  cursor: pointer;
}

.blog-date-text {
  font-weight: 300;
  margin: 10px 0 15px 0;
  font-style: italic;
  color: var(--complementaryColor);
}

.blog-description-text {
  padding: 10px 0;
}

.blog-btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-blog-btn {
  color: white;
  background-color: var(--purpleColor);
}

.edit-btn {
  width: 65px;
  margin: 0 0 10px 0;
  color: white;
  background-color: forestgreen;
}

.del-btn {
  color: white;
  background-color: red;
}

.blog-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.blog-form label {
  margin: 20px 0 10px 0;
  font-size: var(--mediumFont);
}

.blog-form input {
  outline: 0;
  padding: 10px;
  background-color: #eee;
  border: 1px solid black;
  margin: 10px 0;
  cursor: pointer;
}

.blog-form textarea {
  outline: 0;
  padding: 10px;
  background-color: #eee;
  margin: 10px 0;
  cursor: pointer;
}

.blog-form input[type='text'],
.blog-form input[type='password'],
.blog-form input[type='placeholder'] {
  font-size: 1rem;
}

.blog-form textarea[type='text'],
.blog-form textarea[type='password'],
.blog-form textarea[type='placeholder'] {
  font-size: 1rem;
}

.blog-form input:hover,
.blog-form input:focus {
  -webkit-box-shadow: 1px 1px 3px inset var(--purpleColor), -1px -1px 3px inset var(--purpleColor);
          box-shadow: 1px 1px 3px inset var(--purpleColor), -1px -1px 3px inset var(--purpleColor);
  opacity: 0.8;
}

.blog-form textarea:hover,
.blog-form textarea:focus {
  -webkit-box-shadow: 1px 1px 3px inset var(--purpleColor), -1px -1px 3px inset var(--purpleColor);
          box-shadow: 1px 1px 3px inset var(--purpleColor), -1px -1px 3px inset var(--purpleColor);
  opacity: 0.8;
}

.blog-form input:invalid {
  -webkit-box-shadow: 1px 1px 3px inset red, -1px -1px 3px inset red;
          box-shadow: 1px 1px 3px inset red, -1px -1px 3px inset red;
}

.blog-form textarea:invalid {
  -webkit-box-shadow: 1px 1px 3px inset red, -1px -1px 3px inset red;
          box-shadow: 1px 1px 3px inset red, -1px -1px 3px inset red;
}

.blog-form .form-button {
  margin-top: 40px;
  padding: var(--smallBtnPadding);
  cursor: pointer;
}

.save-btn {
  margin: 30px 0 0 0;
  color: white;
}

.cancel-btn {
  margin: 10px auto;
}

footer {
  text-align: center;
  padding: 50px;
  white-space: nowrap;
  margin: auto;
  width: 50%;
  font-size: 12px;
}

footer li {
  width: 12%;
  display: inline-block;
  color: #555;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px;
  border-radius: var(--borderRadius);
  margin: 5px 0;
  background-color: lightcoral;
  text-align: left;
  list-style: none;
}

.message-text {
  width: 350px;
}

.error-button {
  border: 0;
  outline: 0;
  width: 15px;
  height: 15px;
  font-size: 0.7rem;
  font-weight: 500;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.success-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px;
  border-radius: var(--borderRadius);
  margin: 5px 0;
  background-color: lightgreen;
  text-align: left;
  list-style: none;
}

.a-btn {
  padding: 10px;
  /* border-radius: var(--borderRadius); */
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn {
  outline: 0;
  border: 0;
  padding: 10px;
  /* border-radius: var(--borderRadius); */
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

a {
  color: #555;
}

a.play {
  color: #2ab118;
  text-decoration: none;
}

a.linkedin {
  color: #0e44aa;
}

a.steam {
  color: #0e44aa;
}

a.website {
  color: rgba(230, 120, 17, 0.863);
}

a.github {
  color: #ad33ff;
}

a.btn-register{
  /* margin-top: 15px; */
  /* padding: var(--smallBtnPadding); */
  margin: 10px;
  /* background-color: var(--purpleColor); */
  /* color: white; */
}

a.btn-logout{
  color: rgb(228, 107, 107);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover,
button:hover {
  text-decoration: underline;
  color: #afafaf;
}

a:hover.play {
  color: #38ce38;
  text-decoration: none;
}

a:hover.linkedin {
  color: #73a0f3;
}

a:hover.steam {
  color: #6178a1;
}

a:hover.website {
  color: rgba(240, 156, 78, 0.863);
}

a:hover.github {
  color: #b383ff;
}

a:hover.btn-logout{
  color: rgb(221, 177, 177);
}

a:active {
  text-decoration: none;
}

/* 
  5) <div> TAGS ------------------------
*/
div.welcome {
  color: #444;
  text-align: center;
  font-size: 20px;
  background: white;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 1px 0px #959595;
          box-shadow: 0px 0px 1px 0px #959595;
}

div.welcome h2 {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 15px;
}

div.welcome section {
  font-size: 15px;
  padding: 20px;
}

div.container {
  background: white;
  -webkit-box-shadow: 0px 0px 1px 0px #959595;
          box-shadow: 0px 0px 1px 0px #959595;
}

div.content {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
div.content-policy {
  padding: 5px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  font-size: 14px;
  margin: 0 auto;
}
div.content-policy p {
  padding: 10px; 
  margin: 10px auto;
}
div.content-policy ul{
  padding: 5px;
  margin: 10px auto;
}
div.content-policy li{
  padding: 5px;
}

/* 
  6) <section> TAGS ------------------------
*/
section.text {
  width: 40%;
  position: relative;
}

section.text hr{
  margin: 10px auto;
}

section.text div.links {
  word-spacing: 50px;
}

section h2 {
  -webkit-text-decoration: bold;
          text-decoration: bold;
  font-size: 36px;
  margin: 0px;
}

section.video {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 50%;
  left: 10%;
  position: relative;
  text-align: center;
}

section.video iframe {
  border-radius: 10px;
}

section.image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  left: 5%;
  opacity: 20%;
  position: relative;
  text-align: center;
}

section.left-logo{
  display: inline-block;
  position: absolute;
  left: 2%;
  top: 4%;
}
section.right-logo{
  display: inline-block;
  position: absolute;
  right: 1%;
  top: 5%;
}

/* 
  7) #id ------------------------
*/
#ozoneGuardian {
  background-color: #bac1eb;
}

#colossalSaga {
  background-color: #eaebba;
}

#easyviewr {
  background-color: #bae8eb;
}

#easybillr {
  background-color: #b2cdf0;
}

#abhinav {
  background-color: #ebd2ba;
}

#abhishek {
  background-color: #bae8eb;
}

#prab {
  background-color: #dee9d9;
}

#containerLogin{
  padding: 10px;
}

.hide {
  display: none;
}
/*# sourceMappingURL=styles.css.map */
 /* 
    8) FOOTER ------------------------
 */
 footer{
  text-align:center;
  padding: 50px;
  white-space: nowrap;
  margin: auto;
  width: 50%;
  font-size: 12px;

}
footer li{
  width: 12%;
  display: inline-block;
  color: #555;
  padding: 10px;
}
footer p{
  padding: 20px;
}