* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #e2e2e2;
  color: #444;
  padding: 0 10px;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

:root {
  --primaryColor: black;
  --secondaryColor: white;
  --complementaryColor: rgb(109, 109, 109);
  --purpleColor: #8a2be2;
  --navHeight: 80px;
  --borderRadius: 8px;
  --smallBtnPadding: 10px;
  --smallFont: 0.8rem;
  --regularFont: 1rem;
  --mediumFont: 1.2rem;
  --largeFont: 1.5rem;
  --hugeFont: 2rem;
}

.purple-bg-color {
  background-color: var(--purpleColor);
}

.green-bg-color {
  background-color: green;
}

.red-bg-color {
  background-color: red;
}

.page-title {
  font-size: var(--hugeFont);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--navHeight);
  z-index: 99;
}

.nav-links {
  background-color: white;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
  padding: 10px;
  -webkit-box-shadow: 0.5px 0.5px 1px #686868, -0.5px -0.5px 2px #686868;
          box-shadow: 0.5px 0.5px 1px #686868, -0.5px -0.5px 2px #686868;
  list-style: none;
}

.nav-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}

.nav-link {
  padding: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  opacity: 0.5;
}

.menu-btn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 22.5px;
  margin: auto 20px;
  cursor: pointer;
  z-index: 100;
}

.menu-line {
  width: 30px;
  height: 5px;
  background-color: black;
}

.nav-menu-window {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  background-color: #8a2be2;
  color: white;
  z-index: 99;
  clip-path: circle(100px at 100% -25%);
  -webkit-clip-path: circle(100px at 100% -25%);
  -webkit-transition-property: top, left, -webkit-clip-path;
  transition-property: top, left, -webkit-clip-path;
  transition-property: top, left, clip-path;
  transition-property: top, left, clip-path, -webkit-clip-path;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  pointer-events: none;
}

.nav-menu-window h2 {
  text-align: center;
  font-size: 3rem;
  padding: 10px;
}

.nav-menu-window li {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}

.nav-menu-window li a {
  padding: 20px;
  color: white;
  margin: auto;
  text-align: left;
}

.nav-menu-window .menu-link:nth-of-type(0) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.nav-menu-window .menu-link:nth-of-type(1) {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.nav-menu-window .menu-link:nth-of-type(2) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.nav-menu-window .menu-link:nth-of-type(3) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.nav-menu-window .menu-link:nth-of-type(4) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.nav-menu-window .menu-link:nth-of-type(5) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.nav-menu-window .menu-link:nth-of-type(6) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.open-menu {
  clip-path: circle(3000px at 100% 0%);
  -webkit-clip-path: circle(3000px at 100% 0%);
  pointer-events: all;
}

.open-menu .menu-link {
  -webkit-animation: FadeIn 1s linear;
          animation: FadeIn 1s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.home-page {
  width: 100%;
}

.game-container {
  width: 100%;
  margin: auto;
  padding: 30px;
}

.game-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
}

.game-display {
  max-width: 500px;
  width: 100%;
}

.game-display iframe,
.game-display img {
  width: 100%;
  border-radius: 10px;
}

.game-description {
  max-width: 800px;
  width: 100%;
  padding: 10px 20px;
  line-height: 1.4rem;
}

.game-description h2 {
  font-size: 2rem;
  line-height: 2rem;
}

.game-link {
  margin-top: 20px;
}

.game-link a {
  cursor: pointer;
  color: blue;
}

.logo-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10px;
}

.left-logo,
.right-logo {
  position: relative;
  top: -1500%;
  width: 25%;
  z-index: 0;
}

.left-logo img,
.right-logo img {
  max-width: 350px;
  width: 100%;
}

.app-page {
  width: 100%;
}

.app-container {
  width: 100%;
  margin: auto;
  padding: 30px;
}

.app-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
}

.app-display {
  width: 100%;
  max-width: 500px;
}

.app-display iframe,
.app-display img {
  width: 100%;
  border-radius: 10px;
}

.app-description {
  max-width: 800px;
  width: 100%;
  padding: 10px 20px;
  line-height: 1.4rem;
}

.app-description h2 {
  font-size: 2rem;
  line-height: 2rem;
}

.app-link {
  margin-top: 20px;
}

.app-link a {
  cursor: pointer;
  color: blue;
}

.team-page {
  width: 100%;
}

.team-container {
  width: 100%;
  margin: auto;
  padding: 30px;
}

.team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
}

.team-display {
  width: 100%;
  max-width: 500px;
}

.team-display img {
  width: 100%;
  border-radius: 10px;
}

.team-description {
  max-width: 800px;
  width: 100%;
  padding: 10px 20px;
  line-height: 1.4rem;
}

.team-description h2 {
  font-size: 2rem;
  line-height: 2rem;
}

.team-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 300px;
  margin-top: 20px;
}

.team-links a {
  cursor: pointer;
  color: blue;
  margin-right: 20px;
}

.account-section {
  margin: auto;
  text-align: center;
  padding: 50px 0;
  background-color: #bac1eb;
}

form.account-form {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  padding: 50px;
  border: 2px solid var(--primaryColor);
}

form.account-form label {
  margin: 20px 0 10px 0;
  font-size: var(--mediumFont);
}

form.account-form input {
  border: 0;
  outline: 0;
  padding: 10px;
  border-bottom: 1px solid var(--primaryColor);
  background-color: #eee;
  cursor: pointer;
}

form.account-form input[type='text'],
form.account-form input[type='password'],
form.account-form input[type='placeholder'] {
  font-size: 1rem;
}

form.account-form input:hover,
form.account-form input:focus {
  border-bottom: 2px solid var(--primaryColor);
  opacity: 0.8;
}

form.account-form input:invalid {
  border-bottom: 2px solid red;
}

form.account-form .account-button {
  margin-top: 40px;
  padding: var(--smallBtnPadding);
  background-color: var(--purpleColor);
  color: white;
  cursor: pointer;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  margin: 35px auto;
}

.user-profile label {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  text-align: left;
}

.user-account-data-container {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.user-account-detail {
  width: 100%;
  min-width: 350px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0;
}

.first-name-data-display,
.last-name-data-display,
.username-data-display,
.email-data-display {
  width: 250px;
  text-align: left;
}

.first-name-data-input,
.last-name-data-input,
.username-data-input,
.email-data-input {
  width: 250px;
  text-align: left;
  padding: 3px;
}

.change-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.blog-page {
  width: 100%;
  background-color: #bae8eb;
}

.blogs-section {
  width: 100%;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.blog-container {
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
  margin: 20px auto;
  text-align: left;
}

.blog-title-link {
  font-size: var(--largeFont);
  color: #49b3f5;
  text-decoration: none;
  cursor: pointer;
}

.blog-date-text {
  font-weight: 500;
  margin: 10px 0 5px 0;
  font-style: italic;
  color: var(--complementaryColor);
}

.author-name {
  font-weight: 600;
  cursor: pointer;
}

.author-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.blog-description-text {
  padding: 20px 0 0 0;
}

.blog-btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.blog-form label {
  margin: 20px 0 10px 0;
  font-size: var(--mediumFont);
}

.blog-form input {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  padding: 10px;
  background-color: #eee;
  border: 1px solid black;
  margin: 10px 0;
  cursor: pointer;
}

.blog-form textarea {
  font-family: 'Roboto', sans-serif;
  outline: 0;
  padding: 10px;
  background-color: #eee;
  margin: 10px 0;
  cursor: pointer;
}

.blog-form textarea:first-of-type {
  height: 75px;
}

.blog-form textarea:last-of-type {
  height: 500px;
}

.blog-form input[type='text'],
.blog-form input[type='password'],
.blog-form input[type='placeholder'] {
  font-size: 1rem;
}

.blog-form textarea[type='text'],
.blog-form textarea[type='password'],
.blog-form textarea[type='placeholder'] {
  font-size: 1rem;
}

.blog-form input:hover,
.blog-form input:focus {
  -webkit-box-shadow: 1px 1px 3px inset var(--purpleColor), -1px -1px 3px inset var(--purpleColor);
          box-shadow: 1px 1px 3px inset var(--purpleColor), -1px -1px 3px inset var(--purpleColor);
}

.blog-form textarea:hover,
.blog-form textarea:focus {
  -webkit-box-shadow: 1px 1px 3px inset var(--purpleColor), -1px -1px 3px inset var(--purpleColor);
          box-shadow: 1px 1px 3px inset var(--purpleColor), -1px -1px 3px inset var(--purpleColor);
}

.blog-form input:invalid {
  -webkit-box-shadow: 1px 1px 3px inset red, -1px -1px 3px inset red;
          box-shadow: 1px 1px 3px inset red, -1px -1px 3px inset red;
}

.blog-form textarea:invalid {
  -webkit-box-shadow: 1px 1px 3px inset red, -1px -1px 3px inset red;
          box-shadow: 1px 1px 3px inset red, -1px -1px 3px inset red;
}

.blog-form .form-button {
  margin-top: 40px;
  padding: var(--smallBtnPadding);
  cursor: pointer;
}

.article-title {
  font-size: var(--hugeFont);
  line-height: 4rem;
}

.view-blog-btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-container {
  padding: 50px 0;
  text-align: left;
}

.new-blog-btn {
  color: white;
  background-color: var(--purpleColor);
}

.articles-btn {
  margin: 0 0 10px 0;
  color: white;
  background-color: var(--purpleColor);
}

.edit-btn {
  width: 65px;
  margin: 0 0 10px 0;
  color: white;
  background-color: forestgreen;
}

.del-btn {
  color: white;
  background-color: red;
}

.save-btn {
  margin: 30px 0 0 0;
  color: white;
}

.cancel-btn {
  margin: 10px auto;
}

.contact-page {
  margin: auto;
}

.contact-container {
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 20px 0;
}

.contact-container p {
  padding: 5px 0;
}

.icon-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
}

.LinkedIn-icon {
  width: 30px;
  height: 30px;
  background: url(../images/LinkedIn-Icon.jpg) no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.GitHub-icon {
  width: 30px;
  height: 30px;
  background: url(../images/GitHub-Icon.png) no-repeat;
  background-size: cover;
  border-radius: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 50px 0;
  margin: auto;
  font-size: 0.75rem;
  text-align: center;
}

.footer-links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto 40px auto;
  list-style: none;
}

.footer-links li {
  color: #555;
  margin: 0 10px;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px;
  border-radius: var(--borderRadius);
  margin: 5px 0;
  background-color: lightcoral;
  text-align: center;
  list-style: none;
}

.message-text {
  width: 350px;
  text-align: center;
}

.error-button {
  border: 0;
  outline: 0;
  width: 15px;
  height: 15px;
  font-size: 0.7rem;
  font-weight: 500;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.success-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px;
  border-radius: var(--borderRadius);
  margin: 5px 0;
  background-color: lightgreen;
  text-align: center;
  list-style: none;
}

.a-btn {
  padding: 10px;
  border-radius: var(--borderRadius);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.btn {
  outline: 0;
  border: 0;
  padding: 10px;
  border-radius: var(--borderRadius);
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

/* 
  2) HEADER ------------------------
*/
div.transition-heading {
  text-align: center;
  font-size: 24px;
  color: #444;
  padding: 50px;
}

#transition-head {
  padding: 30px;
}

/* 
  3) BODY ------------------------
*/
body h1 {
  padding: 6px 12px;
  font-size: 22px;
  text-align: center;
}

hr {
  display: block;
  border-top: 1px solid #c2c2c2;
}

hr.welcome {
  width: 50%;
  display: block;
  margin: auto;
  border-top: 1px solid #c2c2c2;
}

/* 
  4) <a> TAGS ------------------------
*/
a {
  color: #555;
}

a.play {
  color: #2ab118;
  text-decoration: none;
}

a.linkedin {
  color: #0e44aa;
}

a.steam {
  color: #0e44aa;
}

a.website {
  color: rgba(230, 120, 17, 0.863);
}

a.github {
  color: #ad33ff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #afafaf;
}

a:hover.play {
  color: #38ce38;
  text-decoration: none;
}

a:hover.linkedin {
  color: #73a0f3;
}

a:hover.steam {
  color: #6178a1;
}

a:hover.website {
  color: rgba(240, 156, 78, 0.863);
}

a:hover.github {
  color: #b383ff;
}

a:active {
  text-decoration: none;
}

/* 
  5) <div> TAGS ------------------------
*/
div.welcome {
  color: #444;
  text-align: center;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 1px 0px #959595;
          box-shadow: 0px 0px 1px 0px #959595;
  background-color: white;
}

div.welcome h2 {
  font-size: var(--largeFont);
  padding-top: 30px;
  padding-bottom: 10px;
}

div.container {
  background: white;
  -webkit-box-shadow: 0px 0px 1px 0px #959595;
          box-shadow: 0px 0px 1px 0px #959595;
}

div.content {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.content-policy {
  padding: 5px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  font-size: 14px;
}

/* 
  7) #id ------------------------
*/
#ozoneGuardian {
  background-color: #bac1eb;
}

#colossalSaga {
  background-color: #eaebba;
}

#towerDefence {
  background-color: #ebd2ba;
}

#easybillr {
  background-color: #b2cdf0;
}

#easyviewr {
  background-color: #bae8eb;
}

#basketballScoreApp {
  background-color: #ebd2ba;
}

#todoListApp {
  background-color: #b2cdf0;
}

#weatherApp {
  background-color: #eaebba;
}

#abhinav {
  background-color: #ebd2ba;
}

#abhishek {
  background-color: #bae8eb;
}

#prab {
  background-color: #dee9d9;
}

.hide {
  display: none;
}

@media screen and (max-width: 1300px) {
  .game-content,
  .app-content,
  .team-content {
    width: 100%;
  }
  .left-logo,
  .right-logo {
    top: -1200%;
    width: 20%;
  }
  .left-logo img,
  .right-logo img {
    max-width: 250px;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    width: 100%;
    position: fixed;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-links,
  .account-link,
  .hyperlink {
    display: none;
  }
  .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .left-logo,
  .right-logo {
    top: -300%;
    width: 20%;
  }
}

@media screen and (max-width: 800px) {
  .logo-container .right-logo,
  .logo-container .left-logo {
    top: 0%;
    width: 20%;
  }
  .game-content,
  .app-content,
  .team-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .game-links,
  .app-links,
  .team-links {
    margin: 20px auto 0 auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 400px) {
  .logo-container {
    padding: 0 10px;
  }
  .logo-container .right-logo,
  .logo-container .left-logo {
    width: 20%;
  }
  form.account-form {
    padding: 50px 10px;
  }
  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-links div {
    margin: 10px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=styles.css.map */