* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
}

:root {
  --primaryColor: black;
  --secondaryColor: white;
  --complementaryColor: grey;
  --navHeight: 80px;
  --borderRadius: 8px;
  --smallBtnPadding: 10px;
  --smallFont: 0.8rem;
  --regularFont: 1rem;
  --mediumFont: 1.2rem;
  --largeFont: 1.5rem;
  --hugeFont: 2rem;
}

.page-header {
  font-size: var(--largeFont);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--navHeight);
  padding: 5px;
}

.nav-links {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: var(--navHeight);
  margin: auto;
  list-style: none;
}

.nav-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}

.nav-link {
  padding: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  opacity: 0.5;
}

.logged-out-links {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--navHeight);
  margin: auto 0;
}

.logged-in-links {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: var(--navHeight);
  margin: auto 0;
}

.account-link {
  width: 80px;
  margin: auto;
  color: white;
  background-color: #8a2be2;
  border-radius: var(--borderRadius);
  padding: var(--smallBtnPadding);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.hyperlink {
  width: 70px;
  margin: auto;
  color: black;
  padding: var(--smallBtnPadding);
  text-align: center;
  cursor: pointer;
}

.login-section {
  margin: auto;
  text-align: center;
}

form.login-form {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  padding: 50px;
  border: 2px solid var(--primaryColor);
}

form.login-form label {
  margin: 20px 0 10px 0;
  font-size: var(--mediumFont);
}

form.login-form input {
  border: 0;
  outline: 0;
  padding: 10px;
  border-bottom: 1px solid var(--primaryColor);
  background-color: #eee;
  cursor: pointer;
}

form.login-form input[type='text'],
form.login-form input[type='password'],
form.login-form input[type='placeholder'] {
  font-size: 1rem;
}

form.login-form input:hover,
form.login-form input:focus {
  border-bottom: 2px solid var(--primaryColor);
  opacity: 0.8;
}

form.login-form input:invalid {
  border-bottom: 2px solid red;
}

form.login-form .form-button {
  margin-top: 40px;
  padding: var(--smallBtnPadding);
  cursor: pointer;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px;
  border-radius: var(--borderRadius);
  margin: 5px 0;
  background-color: lightcoral;
  text-align: left;
  list-style: none;
}

.message-text {
  width: 350px;
}

.error-button {
  border: 0;
  outline: 0;
  width: 15px;
  height: 15px;
  font-size: 0.7rem;
  font-weight: 500;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.success-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px;
  border-radius: var(--borderRadius);
  margin: 5px 0;
  background-color: lightgreen;
  text-align: left;
  list-style: none;
}

footer {
  text-align: center;
  padding: 50px;
  white-space: nowrap;
  margin: auto;
  width: 50%;
  font-size: 12px;
}

footer li {
  width: 12%;
  display: inline-block;
  color: #555;
}

a {
  color: #555;
}

a.play {
  color: #2ab118;
  text-decoration: none;
}

a.linkedin {
  color: #0e44aa;
}

a.steam {
  color: #0e44aa;
}

a.website {
  color: rgba(230, 120, 17, 0.863);
}

a.github {
  color: #ad33ff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #afafaf;
}

a:hover.play {
  color: #38ce38;
  text-decoration: none;
}

a:hover.linkedin {
  color: #73a0f3;
}

a:hover.steam {
  color: #6178a1;
}

a:hover.website {
  color: rgba(240, 156, 78, 0.863);
}

a:hover.github {
  color: #b383ff;
}

a:active {
  text-decoration: none;
}

/* 
  5) <div> TAGS ------------------------
*/
div.welcome {
  color: #444;
  text-align: center;
  font-size: 20px;
  background: white;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 1px 0px #959595;
          box-shadow: 0px 0px 1px 0px #959595;
}

div.welcome h2 {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
}

div.welcome section {
  font-size: 15px;
}

div.container {
  background: white;
  -webkit-box-shadow: 0px 0px 1px 0px #959595;
          box-shadow: 0px 0px 1px 0px #959595;
}

div.content {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* 
  6) <section> TAGS ------------------------
*/
section.text {
  width: 40%;
  position: relative;
}

section.text div.links {
  word-spacing: 50px;
}

section h2 {
  -webkit-text-decoration: bold;
          text-decoration: bold;
  font-size: 36px;
  margin: 0px;
}

section.video {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 50%;
  left: 10%;
  position: relative;
  text-align: center;
}

section.video iframe {
  border-radius: 10px;
}

section.image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  left: 5%;
  opacity: 20%;
  position: relative;
  text-align: center;
}

/* 
  7) #id ------------------------
*/
#ozoneGuardian {
  background-color: #bac1eb;
}

#colossalSaga {
  background-color: #eaebba;
}

#easyviewr {
  background-color: #bae8eb;
}

#easybillr {
  background-color: #b2cdf0;
}

#abhinav {
  background-color: #ebd2ba;
}

#abhishek {
  background-color: #bae8eb;
}

#prab {
  background-color: #dee9d9;
}

.hide {
  display: none;
}
/*# sourceMappingURL=styles.css.map */