* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
//########################################### General Tag Styling Here ###########################################//
body {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

:root {
  --primaryColor: black;
  --secondaryColor: white;
  --complementaryColor: rgb(109, 109, 109);
  --purpleColor: #8a2be2;
  --navHeight: 80px;
  --borderRadius: 8px;
  --smallBtnPadding: 10px;
  --smallFont: 0.8rem;
  --regularFont: 1rem;
  --mediumFont: 1.2rem;
  --largeFont: 1.5rem;
  --hugeFont: 2rem;
}
//########################################### General Styling Here ###########################################//
.purple-bg-color {
  background-color: var(--purpleColor);
}
.green-bg-color {
  background-color: green;
}
.red-bg-color {
  background-color: red;
}
.page-title {
  font-size: var(--hugeFont);
}

@import 'Navbar';
@import 'Account';
@import 'Blog';
@import 'Footer';
@import 'Misc';
@import 'Temp';

.hide {
  display: none;
}
